@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
.external-links-desktop {
  display: none;
}

nav {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
  height: 180px;
  -webkit-box-shadow: 0 0 8px #4c362c;
          box-shadow: 0 0 8px #4c362c;
}

nav ul {
  padding-left: 0;
  text-align: center;
}

nav .nav-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 185px;
  border-radius: 15px;
  padding: 10px;
  -webkit-box-shadow: 0 0 8px #BA2126;
          box-shadow: 0 0 8px #BA2126;
  background-color: #fffef6;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  z-index: 2;
}

nav .nav-list ul {
  margin-bottom: 0;
}

nav .nav-visible {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 185px;
  border-radius: 15px;
  padding: 10px;
  -webkit-box-shadow: 0 0 8px #BA2126;
          box-shadow: 0 0 8px #BA2126;
  background-color: #fffef6;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
  z-index: 2;
}

nav .nav-visible ul {
  margin-bottom: 0;
}

nav .nav-heading {
  text-align: center;
  color: #4c362c;
  font-weight: bold;
  margin-top: 20px;
}

nav .nav-link {
  color: #4c362c;
  font-size: 1.2rem;
}

nav .nav-link.active {
  font-weight: bold;
  color: #4c362c;
}

#adminLinks {
  text-align: center;
  width: 100%;
}

#adminLinks .nav-separator {
  margin: 0 auto;
}

#dropdown-basic {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 10px auto;
}

#dropdown-basic::after {
  display: none;
}

.dropdown-menu {
  margin: 0 auto;
  background-color: #FFFCE8;
  border: 1px solid #BA2126;
}

#circleArrowDown {
  color: #BA2126;
  margin-left: .5rem;
}

#logoutBtn {
  background-color: #BA2126;
  border: 1px solid #BA2126;
  color: #fffef6;
  width: 60%;
  margin: auto;
  padding: 8px 16px;
}

#logoutBtn:hover {
  background-color: #fffef6;
  border: 1px solid #BA2126;
  color: #BA2126;
}

.external-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  margin: 0 auto 10px auto;
}

.external-links a {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
  justify-items: center;
  font-size: 0.8rem;
}

.nav-separator {
  width: 60%;
  height: 2px;
  background-color: #BA2126;
}

#logo {
  display: block;
  width: 200px;
  margin: 0px auto;
  padding-top: 30px;
}

#logo img {
  width: 100%;
}

.user-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0px auto;
}

#userIcons {
  position: relative;
}

#userIcons #userFigure {
  border: 1px solid #4c362c;
  color: #4c362c;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

#userIcons #messageIcon {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 1.2rem;
  color: #f2b32a;
}

#userIcons .nav-link {
  display: none;
}

/* ------------ Tablet Styles ------------ */
@media only screen and (min-width: 1000px) {
  #burgerBtn {
    display: none;
  }
  .external-links {
    display: none;
  }
  nav {
    justify-items: center;
    -ms-grid-columns: 20% 65% 15%;
        grid-template-columns: 20% 65% 15%;
    height: 120px;
    -webkit-box-shadow: 0 2px 8px #4c362c;
            box-shadow: 0 2px 8px #4c362c;
  }
  nav ul {
    padding-left: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-list {
    position: relative;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    top: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  nav .nav-link {
    position: relative;
    font-size: 1.1rem;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
  nav .nav-link:hover {
    color: #4c362c;
  }
  nav .nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #BA2126;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transition: .25s linear;
    transition: .25s linear;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  nav .nav-link:hover:not(.active):before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  nav .nav-link.active {
    font-weight: bold;
    color: #4c362c;
    border-bottom: 1px solid #BA2126;
  }
  #adminLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #adminLinks ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #adminLinks .nav-separator {
    margin: 0 10px;
    height: 50px;
  }
  #dropdown-basic {
    margin: 0;
    position: relative;
  }
  #dropdown-basic:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #BA2126;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transition: .25s linear;
    transition: .25s linear;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  #dropdown-basic:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  #dropdown-basic .nav-link {
    font-weight: 500;
  }
  #dropdown-basic .nav-link.active {
    border: 0;
  }
  .dropdown-menu {
    width: 14rem;
  }
  .external-links-desktop {
    position: fixed;
    top: 180px;
    left: -110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 12rem;
    margin: 0 auto 10px auto;
    gap: 10px;
  }
  .external-links-desktop a {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    text-align: center;
    -webkit-box-shadow: 2px 0 5px #4c362c;
            box-shadow: 2px 0 5px #4c362c;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: .9rem;
    background-color: #f2b32a;
    padding: 8px;
    border-radius: 0px 50px 50px 0px;
    margin-left: 10px;
    position: relative;
    left: 0px;
    -webkit-transition: left .3s ease-out;
    transition: left .3s ease-out;
  }
  .external-links-desktop a:hover {
    left: 100px;
    color: #4c362c;
  }
  #externalLinksHeading {
    display: none;
  }
  .nav-separator {
    width: 1px;
    height: 200px;
    background-color: #BA2126;
  }
  #navSeparatorRemove {
    display: none;
  }
  #logo {
    margin: auto 0px;
    padding-top: 20px;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .user-burger {
    width: 100%;
    margin: 0px auto;
    -ms-grid-column: 3;
    grid-column: 3;
    background-color: #BA2126;
  }
  #userIcons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  #userIcons #userFigure {
    position: absolute;
    left: -27px;
    height: 35px;
    width: 35px;
  }
  #userIcons #messageIcon {
    top: -5px;
    left: 10px;
    font-size: 1.6rem;
  }
  #userIcons #loginLink {
    display: inline-block;
    margin: 0px 40px;
    padding-top: 20px;
    color: #fffef6;
  }
}

footer {
  background-color: #BA2126;
  color: #fffef6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 10px 0;
}

#social-media-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.social-media-icon {
  font-size: 2rem;
  color: #fffef6;
}

#copyrights {
  font-size: .7rem;
}

/* ------------ Tablet/Desktop Styles ------------ */
@media only screen and (min-width: 1000px) {
  footer {
    gap: .2rem;
    padding: 5px 0;
  }
  .social-media-icon {
    font-size: 1.5rem;
  }
}

header {
  background-color: #FFFCE8;
}

a {
  font-family: "muli", sans-serif;
  color: #4c362c;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 20px auto 10px auto;
  color: #4c362c;
  border-bottom: 1px solid #4c362c;
  width: 40%;
  position: relative;
}

@media only screen and (min-width: 1000px) {
  h1 {
    margin-top: 40px;
  }
}

#recipeListContainer {
  margin-top: 30px;
}

.link-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 8px #4c362c;
          box-shadow: 0 0 8px #4c362c;
  background-color: #FFFCE8;
  border-radius: 10px;
  height: 40px;
  margin: 15px auto;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

.link-container:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.recipe-list-links {
  -ms-grid-column: 1;
  grid-column: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 3px;
}

.recipe-list-links img {
  width: 25px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: 10px;
  -ms-grid-column: 1;
  grid-column: 1;
}

.recipe-list-links h4 {
  margin: 0;
  position: relative;
  -ms-grid-column: 2;
  grid-column: 2;
}

.recipe-list-links:hover {
  color: #4c362c;
}

.recipe-list-links h4:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  top: -8px;
  left: -10px;
  background-color: #BA2126;
}

.pen-icon {
  color: #BA2126;
  position: relative;
  -ms-grid-column: 2;
  grid-column: 2;
}

@media only screen and (min-width: 1000px) {
  .link-container {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */