footer {
  background-color: map-get($colours, "secondary");
  color: map-get($colours, "light-primary");
  gap: 1rem;
  text-align: center;
  padding: 10px 0;
}

#social-media-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-media-icon {
  font-size: 2rem;
  color: map-get($colours, "light-primary");
}

#copyrights {
  font-size: .7rem;
}


/* ------------ Tablet/Desktop Styles ------------ */
@media only screen and (min-width: 1000px) {
  footer {
    gap: .2rem;
    padding: 5px 0;
  }

  .social-media-icon {
    font-size: 1.5rem;
  }
}