.external-links-desktop {
  display: none;
}

// .modal-content {
//   background-color: transparent;
//   border: none;
// }

nav {
  display: grid;
  // position: sticky;
  // top: 0;
  width: 100%;
  height: 180px;
  box-shadow: 0 0 8px map-get($colours, "text");

  & ul {
    padding-left: 0;
    text-align: center;
  }

  & .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 185px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 8px map-get($colours, "secondary");
    background-color: map-get($colours, "light-primary");
    transform: translateX(-110%);
    transition: transform 0.4s ease-in;
    z-index: 2;

    & ul {
      margin-bottom: 0;
    }
  }

  & .nav-visible {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 185px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 8px map-get($colours, "secondary");
    background-color: map-get($colours, "light-primary");
    transform: translateX(0%);
    transition: transform 0.4s ease-in;
    z-index: 2;

    & ul {
      margin-bottom: 0;
    }
  }

  & .nav-heading {
    text-align: center;
    color: map-get($colours, "text");
    font-weight: bold;
    margin-top: 20px;
  }

  & .nav-link {
    color: map-get($colours, "text");
    font-size: 1.2rem;
  }

  & .nav-link.active {
    font-weight: bold;
    color: map-get($colours, "text");
  }
}

#adminLinks {
  text-align: center;
  width: 100%;

  & .nav-separator {
    margin: 0 auto;
  }
}

#dropdown-basic {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 10px auto;

  &::after {
    display: none;
  }

}

.dropdown-menu {
  margin: 0 auto;
  background-color: map-get($colours, "primary");
  border: 1px solid map-get($colours, "secondary");
}

// #navbarDropdown {
//   padding-bottom: 0;
// }

#circleArrowDown {
  color: map-get($colours, "secondary");
  margin-left: .5rem;
}

#logoutBtn {
  background-color: map-get($colours, "secondary");
  border: 1px solid map-get($colours, "secondary");
  color: map-get($colours, "light-primary");
  width: 60%;
  margin: auto;
  padding: 8px 16px;

  &:hover {
    background-color: map-get($colours, "light-primary");
    border: 1px solid map-get($colours, "secondary");
    color: map-get($colours, "secondary");
  }

  &:focus {
    box-shadow: none;
  }
}

.external-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto 10px auto;

  & a {
    display: grid;
    grid-template-rows: 40% 60%;
    justify-items: center;
    font-size: 0.8rem;
  }
}

.nav-separator {
  width: 60%;
  height: 2px;
  background-color: map-get($colours, "secondary");
}

#logo {
  display: block;
  width: 200px;
  margin: 0px auto;
  padding-top: 30px;

  & img {
    width: 100%;
  }
}

.user-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px auto;
}

#userIcons {
  position: relative;

  & #userFigure {
    border: 1px solid map-get($colours, "text");
    color: map-get($colours, "text");
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
  
  & #messageIcon {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 1.2rem;
    color: map-get($colours, "details")
  }

  & #loginBtn, #loggedBtn {
    display: none;
  }
}




/* ------------ Tablet Styles ------------ */
@media only screen and (min-width: 1000px) {
  // No show 
  #burgerBtn {
    display: none;
  }
  .external-links {
    display: none;
  }


  nav {
    // display: grid;
    // position: relative;
    justify-items: center;
    grid-template-columns: 20% 65% 15%;
    // width: 100%;
    height: 120px;
    box-shadow: 0 2px 8px map-get($colours, "text");
  
    & ul {
      padding-left: 0;
      text-align: center;
      display: flex;
    }
  
    & .nav-list {
      position: relative;
      grid-column: 2;
      grid-row: 1;
      // display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      top: 0px;
      border-radius: 0px;
      // padding: 10px;
      box-shadow: none;
      background-color: transparent;
      transform: translateX(0%);
    }
  
    // & .nav-heading {
    //   text-align: center;
    //   color: map-get($colours, "text");
    //   font-weight: bold;
    //   margin-top: 0px;
    // }
  
    & .nav-link {
      position: relative;
      font-size: 1.1rem;
      margin-right: 10px;
      margin-bottom: 10px;
      padding-bottom: 0px;
    }

    // ! MOVE TO DESKTOP AFTER DONE
    & .nav-link:hover {
      color: map-get($colours, "text");
    }

    & .nav-link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: map-get($colours, "secondary");
      bottom: 0;
      left: 0;
      visibility: hidden;
      transition: .25s linear;
      transform: scaleX(0);
    }

    .nav-link:hover:not(.active):before {
      visibility: visible;
      transform: scaleX(1);
    }
    // ! ------------------------------------

    .nav-link.active {
      font-weight: bold;
      color: map-get($colours, "text");
      border-bottom: 1px solid map-get($colours, "secondary");
    }
  }
  

  #adminLinks {
    display: flex;
    align-items: flex-end;

    & ul {
      display: flex;
      flex-direction: column;
    }

    & .nav-separator {
      margin: 0 10px;
      height: 50px;
    }
  }

  #dropdown-basic {
    margin: 0;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: map-get($colours, "secondary");
      bottom: 0;
      left: 0;
      visibility: hidden;
      transition: .25s linear;
      transform: scaleX(0);
    }

    &:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }

    & .nav-link {
      font-weight: 500;
    }

    & .nav-link.active {
      border: 0;
    }
  }
    
  .dropdown-menu {
    width: 14rem;
  }

  // #navbarDropdown {
  //     padding-bottom: 0;
  //   }

  .external-links-desktop {
    position: fixed;
    top: 180px; 
    left: -110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 12rem;
    margin: 0 auto 10px auto;
    gap: 10px;
    
    & a {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 50% 50%;
      text-align: center;
      box-shadow: 2px 0 5px map-get($colours, "text");
      justify-items: center;
      align-items: center;
      width: 100%;
      font-size: .9rem;
      background-color: map-get($colours, "details");
      padding: 8px;
      border-radius: 0px 50px 50px 0px;
      margin-left: 10px;
      position: relative;
      left: 0px;
      transition: left .3s ease-out;
    }

    // ! MOVE TO DESKTOP AFTER DONE
    & a:hover {
      left: 100px;
      color: map-get($colours, "text");
    }
    // ! ----------------------------
  }

  #externalLinksHeading {
    display: none;
  }
  
  .nav-separator {
    width: 1px;
    height: 200px;
    background-color: map-get($colours, "secondary");
  }

  #navSeparatorRemove {
    display: none;
  }
  
  #logo {
    // display: block;
    // width: 200px;
    margin: auto 0px;
    padding-top: 20px;
    grid-column: 1;
  
    // & img {
    //   width: 100%;
    // }
  }

  .user-burger {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    width: 100%;
    margin: 0px auto;
    grid-column: 3;
    background-color: map-get($colours, "secondary");
  }
  
  #userIcons {
    position: relative;
    display: flex;
    margin-top: 10px;
    
  
    & #userFigure {
      // border: 1px solid map-get($colours, "text");
      // background-color: white;
      position: absolute;
      left: -27px;
      // padding: 10px;
      height: 35px;
      width: 35px;
    }

    & #userFigure:hover {
      cursor: pointer;
    }
    
    & #messageIcon {
      // position: absolute;
      top: -5px;
      left: 10px;
      font-size: 1.6rem;
      // color: map-get($colours, "details")
    }

    // & #loginLink {
    //   display: inline-block;
    //   margin: 0px 40px;
    //   padding-top: 20px;
    //   color: map-get($colours, "light-primary");
      
    // }

    & #loginBtn, #loggedBtn {
      display: block;
      width: 5rem;
      text-align: center;
      font-size: 1.3rem;
      margin: 0px 40px;
      padding-top: 20px;
      color: map-get($colours, "light-primary");
      background-color: transparent;
      border: none;
      // transform: scale(0%);
      transition: transform .2s ease-in;
      // box-shadow: none;
    }

    & #loginBtn:hover {
      cursor: pointer;
      // font-weight: 600;
      transform: scale(108%);
      // font-size: 1.5rem;
    }

    & #loginBtn:focus {
      box-shadow: none;
    }

    & #loggedBtn {
      font-size: 1rem;
      width: 8rem;
      margin-left: 1.4rem;
    }
  }
}



@media only screen and (min-width: 1400px) {







}
