.message {
  color: map-get($colours, "bg-form");
  max-width: 100%;
  border-radius: 3px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.3rem;
  padding: 10px 10px;
}

.message.normal {
  border: 1px solid map-get($colours, "bg-fomr");
}

.message.error {
  border-left: 3px solid map-get($coloursAlerts, "error");
  border-right: 3px solid map-get($coloursAlerts, "error");
  background: rgb(252, 229, 229);
  color: map-get($coloursAlerts, "error");
}

.message.warning {
  border-left: 3px solid map-get($coloursAlerts, "warning");
  border-right: 3px solid map-get($coloursAlerts, "warning");
  background: rgb(255, 248, 235);
  color: map-get($coloursAlerts, "warning");
}

.message.success {
  border-left: 3px solid map-get($coloursAlerts, "success");
  border-right: 3px solid map-get($coloursAlerts, "success");
  background: rgb(224, 255, 224);
  color: map-get($coloursAlerts, "success");
}