a {
  font-family: $font-main;
  color: map-get($colours, "text");
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 20px auto 10px auto;
  color: map-get($colours, "text");
  border-bottom: 1px solid map-get($colours, "text");
  width: 40%;
  position: relative;

  // &::before {
  //   content: '';
  //   margin: -5px;
  //   position: absolute;
  //   bottom: 0px;
  //   left: 5px;
  //   width: 20rem;
  //   height: 1px;
  //   border-top: solid;
  //   // border-left: solid;
  //   border-bottom: solid;
  //   border-image-slice: 1;
  //   border-width: 1px;
  //   border-image-source: linear-gradient(to right, #b3a577,  #031531);
  // }

}

@media only screen and (min-width: 1000px) {
  h1 {
    margin-top: 40px;
  }

}












